<h2>Edit {{ pet.petsName }} details</h2>
<form action="/my-pets/{{pet._id}}/edit" method="post" enctype="multipart/form-data">

    <label> Pet's name:
        <input type="text" name="petsName" value="{{ pet.petsName }}" />
    </label><br />

    <label> Profile picture
        <input type="file" name="pet-picture">
        <input type="text" name="existingImage" hidden value="{{pet.imageUrl}}">
    </label>
    <label> Race:
        <input type="text" name="race" value="{{ pet.race }}" />
    </label><br />
    <label> Sex:
        <input type="text" name="sex" value="{{ pet.sex }}" />
    </label><br />
    <label> Age:
        <input type="number" name="age" value="{{ pet.age }}" />
    </label><br />
    <label> Color:
        <input type="text" name="color" value="{{ pet.color }}" />
    </label><br />

    <button type="submit">Update the pet's info</button>
</form>
<form action="/my-pets/{{pet._id}}/delete" method="post">
    <button>Delete this pet</button>
</form>

{{> navBar }}