<h2>Name: {{petsName}}</h2>
<ul>
    <img src="{{imageUrl}}">
    {{!-- <img src="{{pet.imageUrl}}"> --}}
    {{!-- <img src="{{this.imageUrl}}"> --}}
    <li>Race: {{race}}</li>
    <li>Sex: {{sex}}</li>
    <li>Age: {{age}}</li>
    <li>Color: {{color}}</li>
</ul>

{{!-- <button><a href="/my-pets/list">See all {{owner.email}}'s pets </a></button> --}}

<button><a href="/my-pets/{{this._id}}/edit">Edit this pet's profile</a></button>

<form action="/my-pets/{{this._id}}/delete" method="post">
    <button>Delete this pet</button>
</form>