{{> goBack }}
<div class="container user-profile">
    <img src="{{imageUrl}}">
    {{#if petsName}}
    <h2>{{petsName}}'s profile</h2>
    {{else}}
    <h2>Pet's profile</h2>
    {{/if }}

    <p>Here is all you shared with us.</p>
    <div class="user-info">
        <h3>Race</h3>
        <p>{{race}}</p>
        <h3>Sex</h3>
        <p>{{sex}}</p>
        <h3>Age</h3>
        <p>{{age}}</p>
        <h3>Color</h3>
        <p>{{color}}</p>
    </div>

    <button class="greenBg"><a href="/my-pets/{{this._id}}/edit">Edit pet's profile</a></button>
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}

    <form action="/my-pets/{{this._id}}/delete" method="post">
        <button class="greyBg">Delete this pet</button>
    </form>
</div>

{{> navBar }}