<h2>Name: {{pet.petsName}}</h2>
<ul>
    <img src="{{pet.imageUrl}}">
    <li>Race: {{pet.race}}</li>
    <li>Sex: {{pet.sex}}</li>
    <li>Age: {{pet.age}}</li>
    <li>Color: {{pet.color}}</li>
</ul>

{{#if isOwner}}
<button><a href="/my-pets/{{this._id}}/edit">Edit this pet's profile</a></button>
<form action="/my-pets/{{pet._id}}/delete" method="post">
    <button>Delete this pet</button>
    {{/if}}
</form>