{{> goBack }}
<div class="container">
    Edit user profile

    <form action="/user/edit" method="post" enctype="multipart/form-data">
        <label>Profile picture
            <input type="file" name="profile-picture" placeholder="profile image">
            <input type="text" name="existingImage" hidden value="{{user.imageUrl}}">
        </label>

        <label>User
            <input type="text" name="name" value="{{user.name}}">
        </label>
        <label>Age
            <input type="number" name="age" value="{{user.age}}">
        </label>
        <label>City
            <input type="text" name="city" value="{{user.city}}">
        </label>

        <button type="submit" class="greenBg ">Save</button>
    </form>

    <form action="/user/{{user._id}}/delete" method="post">
        <button class="greyBg">Delete my account</button>
    </form>
</div>
{{> navBar }}