<div>
    User's profile
    <h3><img src="{{user.imageUrl}}"></h3>
    <h3>Name: {{user.name}}</h3>
    <h3>Email:{{user.email}}</h3>
    <h3>age: {{user.age}}</h3>
    <h3>City: {{user.city}}</h3>
    <a href="/user/edit">Edit profile</a>
</div>
{{> goBack }}