<div class="icons">
    {{> goBack }}
    {{> logout }}
</div>

<div class="container user-profile">
    {{#if user.imageUrl}}
    <img src="{{user.imageUrl}}">
    {{else}}
    {{/if}}

    {{#if user.name}}
    <h2>{{user.name}}'s profile</h2>
    {{else}}
    <h2>Your profile</h2>
    {{/if }}

    <p>Here is all you shared with us.</p>
    <div class="user-info">
        <h3>Email</h3>
        <p>{{user.email}}</p>
        <h3>Age</h3>
        <p> {{user.age}}</p>
        <h3>City</h3>
        <p> {{user.city}}</p>
    </div>
    <button class="greenBg"><a href="/user/edit">Edit profile</a></button>
    <button class="greenBg"><a href="/my-pets/list">My pets</a></button>
</div>

{{> navBar }}