<div class="icons">
    {{> goBack }}
    {{> logout }}
</div>

<div class="container user-profile">
    {{#if user.imageUrl}}
    <img src="{{user.imageUrl}}">
    {{else}}
    {{/if}}

    {{#if user.name}}
    <h2>{{user.name}}'s profile</h2>
    {{else}}
    <h2>Your profile</h2>
    {{/if }}
    <p>Here is all you shared with us.</p>
    <div class="user-info">
        <h3>Email</h3>
        <p>{{user.email}}</p>
        <h3>Age</h3>
        <p> {{user.age}}</p>
        <h3>City</h3>
        <p> {{user.city}}</p>
    </div>
    <button class="greenBg"><a href="/user/edit">Edit profile</a></button>
    <button class="greenBg"><a href="/my-pets/list">My pets</a></button>
</div>

{{!-- {{> navBar }} --}}
<div class="navbar-bg">
    <div class="navbar">

        <a href="/my-pets/list">
            <div class="my-pets">
                <img src="/images/myPets_grey.svg">
                <h4>My pets</h4>
            </div>
        </a>
        <a href="/zoo">
            <div class="zoo">
                <img src="/images/zoo_grey.svg">
                <h4>Zoo</h4>
            </div>
        </a>
        <a href="/my-pets/add">
            <div class="new-pet">
                <img src="/images/newPet_grey.svg">
                <h4>New pet</h4>
            </div>
        </a>
        <a href="/user">
            <div class="active">
                <img src="/images/profile_green.svg">
                <h4>Profile</h4>
            </div>
        </a>

    </div>

    <div class="bottom-line">
        <img src="/images/bottom_line.svg">
    </div>
</div>